<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<properties resource="com/tydee/mybatis/db.properties" />
	<settings>
		<setting name="jdbcTypeForNull" value="VARCHAR" />
	</settings>
	<typeAliases>
		<typeAlias type="com.tydee.dto.MyTydeeDto" alias="MyTydeeDto"/>
		<typeAlias type="com.tydee.dto.MyTydeeDistinctDto" alias="DistinctDto"/>
		<typeAlias type="com.tydee.dto.UserInfoDto" alias="UserInfoDto"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/tydee/mybatis/mytydee-mapper.xml"/>
		<mapper resource="com/tydee/mybatis/userinfo-mapper.xml"/>
	</mappers>

</configuration>
