<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tydeemapper">
	<select id="selectListParentSeq" parameterType="int"
		resultType="TinyDto">
		SELECT SEQ, NAME, PARENT_SEQ, REGDATE
		FROM TYDEETABLETEST
		WHERE PARENT_SEQ = #{parent_seq}
	</select>
	<select id="selectListLev" parameterType="DistinctDto" resultType="TinyDto">
		SELECT SEQ, NAME, PARENT_SEQ, REGDATE, LEV
		FROM (SELECT LEVEL "LEV", NAME, SEQ, PARENT_SEQ, REGDATE
				FROM TYDEETABLETEST
				START WITH SEQ IN (SELECT SEQ FROM TYDEETABLETEST WHERE PARENT_SEQ = 0)
				CONNECT BY PRIOR SEQ = PARENT_SEQ
				ORDER SIBLINGS BY SEQ)
		WHERE LEV = #{lev}
		AND PARENT_SEQ = #{parent_seq}
	</select>
	<select id="selectOneSeq" parameterType="int"
		resultType="TinyDto">
		SELECT SEQ, NAME, PARENT_SEQ, REGDATE
		FROM TYDEETABLETEST
		WHERE SEQ = #{seq}
	</select>
	<select id="selectDistinct" resultType="DistinctDto">
		SELECT LEVEL "LEV", PARENT_SEQ
		FROM TYDEETABLETEST
		START WITH SEQ IN (SELECT SEQ FROM TYDEETABLETEST
		WHERE PARENT_SEQ = 0)
		CONNECT BY PRIOR SEQ = PARENT_SEQ
		GROUP BY LEVEL,
		PARENT_SEQ
		ORDER BY LEVEL, PARENT_SEQ
	</select>
	<insert id="insert" parameterType="TinyDto">
		INSERT INTO TYDEETABLETEST
		VALUES(TYDEETABLESEQ.NEXTVAL, #{name}, #{parent_seq}, SYSDATE);
	</insert>
</mapper>
