@charset "EUC-KR";
:root {
  /*color*/
  --color-white: #ffffff;
  --color-black: #212121;
  --color-gray: #f4f4f4;
  --color-dark-gray: #dddddd;

  /*font size*/
  --font-large: 30px;
  --font-regular: 18px;
  --font-small: 12px;

  /*font weight*/
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 13px;
}

/*universal tags*/

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

a {
  margin: 0;
  text-decoration: none;
  color: var(--color-black);
}
ul,
li {
  list-style: none;
  padding-left: 0;
}

/*tydee*/

.tydee__tips__title {
  text-align: center;
  padding: 30px 30px;
}
.tydee__tips__title h1 {
  padding: 0 0 20px 0;
  font-size: var(--font-large);
  color: var(--color-black);
}
.tydee__hashtag {
  display: flex;
  justify-content: center;
  font-size: var(--font-regular);
  color: var(--color-black);
}
.tydee__hashtag > span {
  margin: 0 50px;
}

/*tydee__tips__detail*/

#tydee__tips__detail {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 30px 130px;
}

.title {
  padding-left: 15px;
}
.title > p {
  margin: 0;
}

.date {
  display: flex;
  justify-content: space-between;
}

.writer {
  border: solid 4px skyblue;
  padding-left: 15px;
}

.writer1 {
  font-size: var(--font-regular);
}

.date1 {
  font-size: var(--font-small);
}

.etc {
  border: solid 4px orange;
  display: flex;
  flex-direction: row;
  margin: 18px 0;
  padding-top: 20px;
}
.etc > input {
  margin: 14px;
  background-color: transparent;
  cursor: pointer;
  font-size: var(--font-small);
  color: var(--color-dark-gray);
  margin: 15px 0;
  font-weight: var(--weight-bold);
  padding: 4px 6px;
  border: 1.5px solid var(--color-dark-gray);
  border-radius: 4px;
  position: relative;
}
.etc > p {
  padding: 0 20px;
}

.line {
  background-color: var(--color-dark-gray);
  width: 100%;
  height: 2px;
  margin: 10px 0;
}
.contents {
  display: flex;
  flex-direction: column;
}

.comments {
  border: 2px solid var(--color-black);
  width: 100%;
  height: 100px;
}

.title > p {
  font-size: var(--font-large);
}

/*contents*/

.contents__detail > img {
  width: 100%;
  height: auto;
}

.button {
  text-align: right;
}
.button > input {
  background-color: transparent;
  cursor: pointer;
  font-size: var(--font-regular);
  color: var(--color-dark-gray);
  margin: 15px 0;
  font-weight: var(--weight-bold);
  padding: 4px 6px;
  border: 1.5px solid var(--color-dark-gray);
  border-radius: 4px;
  position: relative;
}

/*tydee tips list*/

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color-gray);
  padding: 40px 0;
}
.modal__wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: var(--size-border-radius);
  padding-bottom: 20px;
  background-color: #fff;
  -ms-flex-item-align: center;
  align-self: center;
  box-shadow: 0 12px 25px 0 rgba(199, 175, 189, 0.25);
}
.modal__wrap img {
  border-radius: 16px 16px 0 0;
  display: block;
  width: 300px;
  height: 200px;
}
.modal__description {
  padding: 10px 30px 0px 30px;
  font-weight: var(--weight-regular);
  font-size: var(--font-small);
}
.modal__name {
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
}
