:root {
  /*color*/
  --color-white: #ffffff;
  --color-black: #212121;
  --color-gray: #f4f4f4;
  --color-dark-gray: #f9f9f9;

  /*font size*/
  --font-large: 36px;
  --font-regular: 18px;
  --font-small: 12px;

  /*font weight*/
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 13px;
}

/*universal tags*/

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

a {
  margin: 0;
  text-decoration: none;
  color: var(--color-black);
}
ul,
li {
  list-style: none;
  padding-left: 0;
}

/*tydee tips*/

.tydee__maps {
  display: flex;
  flex-direction: column;
}

/*tydee*/

.tydee__maps__title {
  text-align: center;
  padding: 30px 30px;
}
.tydee__s__title h1 {
  padding: 0 0 20px 0;
  color: var(--color-black);
}
.tydee__hashtag {
  display: flex;
  justify-content: center;
  font-size: var(--font-regular);
  color: var(--color-black);
}
.tydee__hashtag > span {
  margin: 0 50px;
}

.tydee__map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-gray);
  padding: 40px 0;
}
#map {
  width: 100%;
  max-width: 700px;
  height: 400px;
  border: 2px solid black;
  -ms-flex-item-align: center;
  align-self: center;
}
.map__search {
  width: 230px;
  height: 20px;
  border: 0;
  background-color: #efefef;
  margin: 20px;
  padding: 8px 14px;
  border-radius: 4px;
  font-weight: var(--weight-regular);
  font-size: var(--font-small);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-self: center;
}
