@charset "UTF-8";

@import url("googlewebfonts.css");
@import url("d3maker.css");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

:root {
  /*color*/
  --color-white: #ffffff;
  --color-black: #212121;
  --color-gray: #f4f4f4;
  --color-dark-gray: #f9f9f9;

  /*font size*/
  --font-large: 36px;
  --font-regular: 18px;
  --font-small: 12px;

  /*font weight*/
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 13px;
}

/*universal tags*/

body { 
  margin: 0;
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  cursor: default;
}

a {
  margin: 0;
  text-decoration: none;
  color: var(--color-black);
}
ul,
li {
  list-style: none;
  padding-left: 0;
}

/*tydee mytydee*/

.tydee__mytydee {
  display: flex;
  flex-direction: column;
}

/*tydee*/

.tydee__mytydee__title {
  text-align: center;
  padding: 30px 30px;
}
.tydee__mytydee__title h1 {
  padding: 0 0 20px 0;
  color: var(--color-black);
}

/*modals*/

.modals {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray);
  padding: 40px 0;
  width: 100%;
  height: 100%;
}

.modal {
  flex: 1;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 40px 0;
}

.modal__right {
	height: 100%;
}

.modal__wrap {
  position: relative;
  display: block;
  width: auto;
  height: 100%;
  margin: 20px;
  border-radius: var(--size-border-radius);
  padding-bottom: 20px;
  background-color: #fff;
  -ms-flex-item-align: center;
  align-self: center;
  box-shadow: 0 12px 25px 0 rgba(199, 175, 189, 0.25);
}
.modal__wrap img {
  border-radius: 16px 16px 0 0;
  display: block;
  width: 300px;
  height: 200px;
}
.modal__description {
  padding: 10px 30px 0px 30px;
  font-weight: var(--weight-regular);
  font-size: var(--font-small);
}
.modal__name {
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
}

.tiny__menu {
	padding-right: 100px;
	font-size: var(--font-regular);
	font-weight: var(--weight-bold);
}

.tiny__contents {
	display: flex;
	flex-direction: column;
}

.tiny__content, textarea {
  width: 230px;
  height: 20px;
  border: 0;
  background-color: #efefef;
  margin: 0;
  padding: 8px 14px;
  border-radius: 4px;
  font-weight: var(--weight-regular);
  font-size: var(--font-small);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

[readonly=readonly]:focus {
	outline: none;
}

textarea {
	resize: none;
	overflow-x: hidden;
	overflow-y: auto;
}

.dim-layer {
  display: none;
  position: fixed;
  _position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.dim-layer .dimBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
  display: block;
}

a.btn-layerClose {
  display: inline-block;
  height: 25px;
  padding: 0 14px 0;
  border: 1px solid #304a8a;
  background-color: #3f5a9d;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
}

a.btn-layerClose:hover {
  border: 1px solid #091940;
  background-color: #1f326a;
  color: #fff;
}