/*global*/
:root {
  /*Color*/
  --color-black: #212121;
  --color-white: #ffffff;
  --color-modal: #f9f9f9;

  /*font size*/
  --font-large: 32px;
  --font-regular: 20px;
  --font-normal: 16px;

  /*font weight*/
  --weight-bold: 700;
  --weight-regular: 500;
  --weight-thin: 300;

  /*Size*/
  --size-border-radius: 13px;
}

/*universal tags*/
p {
  font-size: 25px;
  font-weight: 700;
  padding: 20px;
}
span {
  font-size: 20px;
  font-weight: 700;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  cursor: default;
  background-color: lightgray;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
li,
ul {
  list-style: none;
  padding-left: 0;
}

/*create modal*/
.make__tydee {
  position: fixed;
  top: 20%;
  left: 20%;
  padding: 30px;
  margin: 0;
  width: 450px;
  height: 260px;
  background-color: white;
  border-radius: 13px 13px 13px 13px;
  box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.29);
  text-align: center;
  animation: appear 0.8s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.input {
  width: 150px;
  height: 25px;
  border: 0;
  background-color: #efefef;
  margin: 0;
  padding: 8px 14px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.input:hover {
  outline: none;
}

.make__tydee__button {
  background-color: transparent;
  cursor: pointer;
  font-size: 17px;
  color: lightgray;
  font-weight: 700;
  margin: 24px;
  padding: 4px 6px;
  border: 2px solid lightgray;
  border-radius: 4px;
  position: relative;
  top: 45px;
  left: 190px;
}
